<% tdato = @tdato %>

<div id="product-list">
    <h2><%=@tdato %></h2>
    
    <table>
      <tr>
        <th class="cuentas">Cuenta</th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Set</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
        <th>Tot</th>
        <th class="links"></th>
      </tr>
    
    <% @tasks.each do |task| %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>" >
        <td class="cuentas"><%= task[:account] %></td>
        <td class="datos"><%= raw(task[:ene]) %></td>
        <td class="datos"><%= raw(task[:feb]) %></td>
        <td class="datos"><%= raw(task[:mar])%></td>
        <td class="datos"><%= raw(task[:abr]) %></td>
        <td class="datos"><%= raw(task[:may]) %></td>
        <td class="datos"><%= raw(task[:jun]) %></td>
        <td class="datos"><%= raw(task[:jul]) %></td>
        <td class="datos"><%= raw(task[:ago]) %></td>
        <td class="datos"><%= raw(task[:set]) %></td>
        <td class="datos"><%= raw(task[:oct]) %></td>
        <td class="datos"><%= raw(task[:nov]) %></td>
        <td class="datos"><%= raw(task[:dic]) %></td>
        <td class="datos"><%= raw(task[:tot]) %></td>
      </tr>
    <% end %>
    </table>
</div>
<br />

<%= link_to 'Volver al Informe', "../tasks" %>