<% tdato = @tdato %>

<div id="product-list">
    <h2><%=@tdato %></h2>
    
    <table>
      <tr>
        <th class="cuentas">Cuenta</th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Set</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
        <th>Tot</th>
        <th class="links"></th>
        <th class="links"></th>
        <th class="links"></th>
        <th class="links"></th>
        <th class="links"></th>
      </tr>
    
    <% @tasks.each do |task| %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>" >
        <td class="cuentas"><%= task[:account] %></td>
        <td class="datos"><%= task[:ene] %></td>
        <td class="datos"><%= task[:feb] %></td>
        <td class="datos"><%= task[:mar] %></td>
        <td class="datos"><%= task[:abr] %></td>
        <td class="datos"><%= task[:may] %></td>
        <td class="datos"><%= task[:jun] %></td>
        <td class="datos"><%= task[:jul] %></td>
        <td class="datos"><%= task[:ago] %></td>
        <td class="datos"><%= task[:set] %></td>
        <td class="datos"><%= task[:oct] %></td>
        <td class="datos"><%= task[:nov] %></td>
        <td class="datos"><%= task[:dic] %></td>
        <td class="datos"><%= task[:tot] %></td>
        <td class="links"><%= link_to '% Avance', :controller=>'tasks', :action=>'index', :id=>task[:account_id], :tdato=>'Tareas Avance' %></td>
        <td class="links"><%= link_to 'T Plan', :controller=>'tasks', :action=>'index', :id=>task[:account_id], :tdato=>'Tareas Planeadas' %></td>
        <td class="links"><%= link_to 'T Real', :controller=>'tasks', :action=>'index', :id=>task[:account_id], :tdato=>'Tareas Real' %></td>
        <td class="links"><%= link_to 'Dias-Movil Plan', :controller=>'tasks', :action=>'index', :id=>task[:account_id], :tdato=>'Dias-Movil Planeados' %></td>
        <td class="links"><%= link_to 'Dias-Movil Real', :controller=>'tasks', :action=>'index', :id=>task[:account_id], :tdato=>'Dias-Movil Reales' %></td>
      </tr>
    <% end %>
    </table>
</div>
<br />

<!--- <%= link_to 'New Task', new_task_path %> --->